*{
    box-sizing: border-box;
    margin: 0;
    font-family: Open Sans;
}

.main{
    background-image: url("../images/Bg.png");
    background-repeat: none;
    background-size: cover;
    height: 100vh;
    overflow-y: scroll;
}

.logo>img{
    width: 350px;
}

.form-container{
    width: 50%;
}

.form-container .card{
    border-radius: 20px !important;
    padding:40px 30px ;
}

.form-container .forgot{
    cursor: pointer;
    text-decoration: none;
}

.card .content{
    font: normal normal normal 18px/24px Open Sans;
}

.form-container>.content{
    width: 370px;
}

.card-heading{
    font-family: Open Sans, Bold;
    font: normal normal bold 24px/33px Open Sans !important;
}

/**************************CSS for input fields*******************************/
.card-description>.credentials .input-grp{
    position: relative;
    width: 100%;
    border: 1px solid #DDDDDD;
    margin: 7px 0 0 0;
    border-radius: 6px;
    background: #F7FAFF 0% 0% no-repeat padding-box;
    display: flex;
    align-items: stretch;
    height: fit-content;
    overflow: hidden;
    transition: all ease 0.25s;
}


.card-description>.credentials input:not(input[type="checkbox"]){
    background-color: transparent;
    border: none;
    outline: none;
    width: 100%;
    position:sticky;
    z-index: 999;
    padding: 22px 0 4px;

}
.card-description>.credentials .input-grp:focus-within{
    border-bottom: 1px solid #386CB5;
} 

.card-description>.credentials .input-grp[error='true']:focus-within{
    border-bottom: 1px solid#FF0000;
}

.card-description>.credentials .input-grp:focus-within::after {
    content: "\A";
    border-bottom: 1px solid #386CB5;
    position: absolute;
    left: 0;
    bottom: 0;
    width:100%;
    height: 0;
}

.card-description>.credentials .input-grp[error='true']:focus-within::after {
    border-bottom: 1px solid #FF0000;
}

.card-description>.credentials button[type="submit"]{
    outline: none;
    width: 100%;
    border: none;
    background: transparent linear-gradient(270deg, #386CB5 0%, #669FED 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 5px #386CB566;
    border-radius: 6px;
    color: white;
    padding: 10px 0;
}

#password-eye{
    cursor: pointer;
    color: gray;
    margin: 0 13px;
}

#register{
    border: none;
    outline: none;
    background: #FEC006 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 10px #0000001A;
    border-radius: 6px;
    color: white;
    padding: 10px 15px;
    cursor: pointer;
    margin-left: 10px;
}

.invalid-message{
    color: red;
    font-size: 10px;
    font-weight: 700;
}


.input-wrapup{
    position: relative;
    width: 100%;
    color: rgb(38, 38, 38);
    font-weight: 500;
}

.input-wrapup .moving-label{
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    display: block;
    width: fit-content;
    height: fit-content;
    z-index: 998;
 }

 .input-wrapup input:focus + .moving-label, .input-wrapup input:not(focus):valid + .moving-label{
    margin: 4px 0 4px 0;
    color: rgb(107, 107, 107);
    font-size: 12px;
    
}

.form-check-input:checked {
    border-color: #00000033 !important; 
    background-color: #08D152 !important;
}

.info{
    font-size: 14px;
}

@media screen and (min-width: 1920px) {
    .form-container>.content{
        width: 500px;
    }
    .card .content{
        font: normal normal normal 18px/24px Open Sans;
    }

  }

  @media screen and (min-width: 1700px) {
    .form-container>.content{
        width: 470px;
    }
    .card .content{
        font: normal normal normal 18px/24px Open Sans;
    }

  }


  @media screen and (max-width: 1700px) {
    .card .content{
        font: normal normal normal 14px Open Sans;
    }
    
    .info{
        font-size: 11px ;
    }

    
  }


@media screen and (max-width: 1550px) {
    .card{
        font: normal normal normal 14px Open Sans;
    }

    .card-heading{
        font-family: Open Sans, Bold;
        font: normal normal bold 20px Open Sans !important;
    }

    .card-description>.content{
        font-size: 13px;
    }

    .card-description>.credentials{
        font-size: 13px;
    }
    
    .invalid-message{
        font-size: 10px;
    }
  }

  

  @media screen and (max-width: 1200px) {
    
    .logo>img{
        width: 300px;
    }
  }

  @media screen and (min-width: 1200px) {
    
  }

  @media screen and (min-width: 992px) {
    
  }

  @media screen and (min-width: 768px) {
    
  }

  @media screen and (max-width: 576px) {
    
  }

  @media screen and (max-width: 480px) {

    .logo>img{
        width: 250px;
    }

    .card-heading{
        font-family: Open Sans, Bold;
        font: normal normal bold 20px Open Sans !important;
    }
    

    .card{
        font: normal normal normal 14px Open Sans !important;
    }
    
  }

  @media screen and (max-width: 408px) {
    .form-container>.content{
        width: 100%;
    }
    .form-container .card{
        padding:30px 25px ;
    }
  }